.social-cards-page {
    margin: auto;
    width: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
}

.social-card {
    width: 400px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 15px 10px;
    font-size: 16px;

    &--header{

        &__nickname {
            font-weight: bold;
        }
        &__username,
        &__date {
            color: #657786;
            font-size: 0.8em;
        }
    }

    &--actions {
        .social-card__action {
            color: #657786;
            margin: 0 10px;
            cursor: pointer;

            &.retweet.active {
                color: #6fc129;
            }

            &.like.active {
                color: #c12951;
            }
        }
    }
}

.external-source {
    margin: 10px 0;
    &__content {
        color: #657786;
        font-size: 0.8em;
    }

    &__footer {
        color: #657786;
        font-size: 0.6em;
    }
}