.App {
  text-align: center;
}

.header > ul {
  display: flex;
  list-style: none;
  text-align: center;
  padding: 10px;
}

.header > ul > li {
  padding: 10px;
}

.header > ul > li.active a {
  color: #de4b73;
}

.header > ul > li a {
  text-decoration: none;
}